DJANGO_SECRET_KEY=changez-cette-cle
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Base de données
POSTGRES_DB=detecteur_plagiat
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Moteur FastAPI
FASTAPI_URL=http://127.0.0.1:8000

# Envoi réel des e-mails de récupération
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=noreply@votre-domaine.tld
EMAIL_HOST=smtp.votre-fournisseur.tld
EMAIL_PORT=587
EMAIL_HOST_USER=votre-adresse@votre-domaine.tld
EMAIL_HOST_PASSWORD=votre-mot-de-passe-ou-mot-de-passe-application
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_TIMEOUT=20

# Récupération administrateur en développement uniquement
ALLOW_ADMIN_BOOTSTRAP=False
